/*Pacifico css*/
/*
.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

*/
.headStyle{
  font-weight: bold;
  font-size: 50px;
  color: rgb(238, 27, 91);
  margin-bottom: 20px;
}
.formDiv{
  border-style: solid;
  padding: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(220, 86, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
#floatingPassword{
  width: 100%;
  margin-bottom: 10px;
  border-color: rgb(225, 225, 225);
}
#floatingInput{
  width: 100%;
  margin-bottom: 10px;
}
.signUpLink,.logInLink{
  color: rgb(220, 86, 126);
  text-decoration: none;
  text-align: center;
}
.inputclass{
  width: 350px;
}
.logInButton,.signUpButton{
  margin-top: 20px;
  background-color: rgb(220, 86, 126);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.logInButton:hover{
  background-color: rgb(222, 129, 156);
}
.signUpButton:hover{
  background-color: rgb(222, 129, 156);
}
.LogInImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  justify-content: center;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 50px;
}


@media (max-width: 470px){
  .formDiv{
    width: 90%;
  }
  .inputclass{
    width: 100%;
  }
}
@media(max-width:850px){
  .LogInImage{
    display: none;
  }
}
