#root{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    min-height: 552px;

}
body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /*overflow-y: auto;*/
}


/*Pacifico css*/
/*
.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

*/